<section id="detail">
  <div class="container">

    <div class="detail-group container">
      <div class="row">
        <div class="col-12 detail-title">
          <h4>【11版】讓我們用雷切切爆他們吧</h4>
          <ul class="detail-share nav-float">
            <li><a class="btn bg-warning" data-toggle="tooltip" data-placement="top" title="收藏"><i class="fa fa-star" aria-hidden="true"></i></a></li>
            <li><a class="btn bg-primary" data-toggle="tooltip" data-placement="top" title="分享"><i class="fa fa-share" aria-hidden="true"></i></a></li>
            <li><a class="btn bg-danger" data-toggle="tooltip" data-placement="top" title="檢舉"><i class="fa fa-exclamation" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="detail-author row">
            <div class="col-12">
              <label>文章作者</label>
              <img src="/img/profile/user/me.png" alt="文章作者">
              <span class="author-name">打爆你全家</span>
              <a class="author-id" title="帳號">(userid)</a>
            </div>
          </div>
          <div class="detail-guide row">
            <div class="col-12">
              <div class="guide-name">
                <img src="/img/hero/a01.png" alt="">
                <span>德川家康</span>
              </div>
              <ol class="guide-nav">
                <li><a href="#skill">技能介紹</a></li>
                <li><a href="#equip-start">起手裝備</a></li>
                <li><a href="#equip-final">推薦出裝</a></li>
                <li><a href="#abilities">技能配置</a></li>
                <li><a href="#video">影片分享</a></li>
                <li><a href="#matchups">英雄相剋</a></li>
                <li><a href="#comments">留言板</a></li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="detail-info row text-center">
            <div class="col-3">
              <a href="#" class="thumbs-up">
                  <i class="fa fa-thumbs-up"></i>
                  <span>249</span>
                </a>
            </div>
            <div class="col-3">
              <a href="#" class="thumbs-down">
                  <i class="fa fa-thumbs-down"></i>
                  <span>38</span>
                </a>
            </div>
            <div class="col-3">
              <span>最後更新</span>
              <span class="detail-info-item">3 hours ago</span>
            </div>
            <div class="col-3">
              <span>瀏覽次數</span>
              <span class="detail-info-item"><i class="fa fa-user"></i>15.6K</span>
            </div>
          </div>
          <div class="detail-analysis row">
            <div class="col-6">
              <h5>評價（ 1-10 ）</h5>
              <div class="analysis-char">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)" [options]="doughnutChartOption"></canvas>
              </div>
            </div>
            <div class="col-6">
              <h5>英雄素質（ 1-10 ）</h5>
              <div class="analysis-char">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div id="skill" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>技能分析</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5">
                <ul class="nav-float">
                  <li class="skill-keypress" data-key="D"><img src="/img/spellicons/custom/A01/a01d.png" alt=""></li>
                  <li class="skill-keypress" data-key="W"><img src="/img/spellicons/custom/A01/a01w.png" alt=""></li>
                  <li class="skill-keypress" data-key="E"><img src="/img/spellicons/meepo_earthbind.png" alt=""></li>
                  <li class="skill-keypress" data-key="R"><img src="/img/spellicons/zuus_lightning_bolt.png" alt=""></li>
                  <li class="skill-keypress" data-key="T"><img src="/img/spellicons/custom/icon_128x128_119.png" alt=""></li>
                </ul>
              </div>
              <div class="col-7">
                <div class="skill-discript">
                  利用<img class="img-discript" src="/img/spellicons/meepo_earthbind.png" alt="">抓敵人，然後再使用<img class="img-discript"
                    src="/img/spellicons/custom/A01/a01d.png" alt="">、<img class="img-discript" src="/img/spellicons/custom/A01/a01w.png"
                    alt="">給予傷害，進行連續技。 會戰的時候視情況，當不得時再使用
                  <img class="img-discript" src="/img/spellicons/custom/icon_128x128_119.png" alt="">。
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="equip-start" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-home" aria-hidden="true"></i>起手裝備</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5">
                <ul class="nav-float">
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/spear.png" alt=""></li>
                  <li><img src="/img/items/custom/speed_clothes.png" alt=""></li>
                  <li><img src="/img/items/custom/rations.png" alt=""></li>
                </ul>
              </div>
              <div class="col-7">
                <div class="skill-discript">
                  人人都要穿褲子<img class="img-discript" src="/img/items/custom/pleated_skirt.png" alt="">，一開始先帶上<img class="img-discript"
                    src="/img/items/custom/spear.png" alt="">以及<img class="img-discript" src="/img/items/custom/speed_clothes.png"
                    alt="">， 之後就可以很快合成魔抗
                  <img class="img-discript" src="/img/items/custom/dark_boots.png" alt="">。 另外個人是習慣帶個仙豆
                  <img class="img-discript" src="/img/items/custom/rations.png" alt="">出門，較具有蓄戰力。
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="equip-final" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-shield" aria-hidden="true"></i>推薦出裝</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5">
                <div class="during badge badge-primary">中期</div>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/dark_boots.png" alt=""></li>
                  <li><img src="/img/items/custom/raikiri.png" alt=""></li>
                  <li><img src="/img/items/custom/samurai_cloth.png" alt=""></li>
                  <li><img src="/img/items/custom/kousetsusamonnji.png" alt=""></li>
                </ul>
                <div class="during badge badge-primary">後期</div>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/the_sword_of_kaminaobi.png" alt=""></li>
                  <li><img src="/img/items/custom/true_katana.png" alt=""></li>
                  <li><img src="/img/items/custom/the_scream_of_spiders.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_disarmament.png" alt=""></li>
                </ul>
                <div class="during badge badge-primary">選用</div>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/ninja_cloth.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_invincible.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_weakness.png" alt=""></li>
                </ul>
              </div>
              <div class="col-7">
                <div class="during badge badge-primary">中期</div>
                <div class="skill-discript">
                  高速的攻擊搭配<img class="img-discript" src="/img/items/custom/raikiri.png" alt="">，加上一點人品，可以很快打出閃電， 另外主要也是因為
                  <img class="img-discript" src="/img/items/custom/samurai_cloth.png" alt="">，二階段可以提升70%攻擊速度， 最後搭配
                  <img class="img-discript" src="/img/items/custom/kousetsusamonnji.png" alt="">提升續戰力。
                </div>
                <div class="during badge badge-primary">後期</div>
                <div class="skill-discript">
                  <img class="img-discript" src="/img/items/custom/the_sword_of_kaminaobi.png" alt="">主要拿來飛人用， 飛過去後馬上開
                  <img class="img-discript" src="/img/items/custom/the_great_sword_of_disarmament.png" alt="">。
                </div>
                <div class="during badge badge-primary">選用</div>
                <div class="skill-discript">
                  高閃避可選擇<img class="img-discript" src="/img/items/custom/ninja_cloth.png" alt="">， 把人變廢物當然莫過於這把
                  <img class="img-discript" src="/img/items/custom/the_great_sword_of_weakness.png" alt="">， 不是在說你廢，我是指在場的各位都是廢物。
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="abilities" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-gavel" aria-hidden="true"></i>技能配置</h4>
            </a>
          </div>
          <div class="panel-body container">
            <table class="table table-bordered table-inverse">
              <tr>
                <td>技能</td>
                <td colspan="18">等級</td>
              </tr>
              <tr>
                <td><img class="img-discript" src="/img/spellicons/custom/A01/a01w.png" alt=""></td>
                <td>
                  <div class="abilities-level">1</div>
                </td>
                <td>

                </td>
                <td>
                  <div class="abilities-level">3</div>
                </td>
                <td>
                  <div class="abilities-level">4</div>
                </td>
                <td>
                  <div class="abilities-level">5</div>
                </td>
                <td>
                  <div class="abilities-level">6</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><img class="img-discript" src="/img/spellicons/custom/A01/a01d.png" alt=""></td>
                <td></td>
                <td>
                  <div class="abilities-level">2</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="abilities-level">7</div>
                </td>
                <td>

                </td>
                <td>
                  <div class="abilities-level">9</div>
                </td>
                <td>
                  <div class="abilities-level">10</div>
                </td>
                <td>
                  <div class="abilities-level">11</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><img class="img-discript" src="/img/spellicons/meepo_earthbind.png" alt=""></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="abilities-level">8</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="abilities-level">12</div>
                </td>
                <td>
                  <div class="abilities-level">13</div>
                </td>
                <td>
                  <div class="abilities-level">14</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><img class="img-discript" src="/img/spellicons/zuus_lightning_bolt.png" alt=""></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="abilities-level">15</div>
                </td>
                <td>
                  <div class="abilities-level">16</div>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><img class="img-discript" src="/img/spellicons/custom/icon_128x128_119.png" alt=""></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="abilities-level">17</div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td><img class="img-discript" src="/img/spellicons/plus.png" alt=""></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <div class="abilities-level">18</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="video" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-youtube-play" aria-hidden="true"></i>影片分享</h4>
            </a>
          </div>
          <div class="panel-body">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mwqn3GtSeAs" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/B4VXShvB6oY" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div id="matchups" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-flash" aria-hidden="true"></i>英雄相剋</h4>
            </a>
          </div>
          <div class="panel-body container">

            <div class="matchups-name form-group row container">
              <label class="col-form-label">英雄搜尋：</label>
              <div class="col-sm-4">
                <input type="text" name="search" class="form-control" placeholder="請輸入關鍵字">
              </div>
            </div>

            <div class="matchups-level form-group row container">
              <label class="col-form-label">難度勾選：</label>
              <div class="col-sm-5">
                <label class="custom-control custom-checkbox">
                    <input id="chk1" name="chk-filter" value="1" type="checkbox" class="custom-control-input" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">EASY</span>
                  </label>
                <label class="custom-control custom-checkbox">
                    <input id="chk2" name="chk-filter"  value="2" type="checkbox" class="custom-control-input" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">MEDIUM</span>
                  </label>
                <label class="custom-control custom-checkbox">
                    <input id="chk3" name="chk-filter"  value="3" type="checkbox" class="custom-control-input" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">HARD</span>
                  </label>
              </div>
            </div>

            <ul class="matchups-list nav-float">
              <li>
                <div><img src="/img/hero/a02.png" alt=""></div>
                <div>
                  <span>稻姬</span>
                  <span class="badge badge-success">EASY</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c11.png" alt=""></div>
                <div>
                  <span>立花宗茂</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/b01.png" alt=""></div>
                <div>
                  <span>雜賀孫市</span>
                  <span class="badge badge-danger">HARD</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/a22.png" alt=""></div>
                <div>
                  <span>仙石秀久</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/b23.png" alt=""></div>
                <div>
                  <span>伊勢姬</span>
                  <span class="badge badge-danger">HARD</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c19.png" alt=""></div>
                <div>
                  <span>松姬</span>
                  <span class="badge badge-success">EASY</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c10.png" alt=""></div>
                <div>
                  <span>香宗我部親泰</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/a02.png" alt=""></div>
                <div>
                  <span>稻姬</span>
                  <span class="badge badge-success">EASY</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c11.png" alt=""></div>
                <div>
                  <span>立花宗茂</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/b01.png" alt=""></div>
                <div>
                  <span>雜賀孫市</span>
                  <span class="badge badge-danger">HARD</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/a22.png" alt=""></div>
                <div>
                  <span>仙石秀久</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/b23.png" alt=""></div>
                <div>
                  <span>伊勢姬</span>
                  <span class="badge badge-danger">HARD</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c19.png" alt=""></div>
                <div>
                  <span>松姬</span>
                  <span class="badge badge-success">EASY</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c10.png" alt=""></div>
                <div>
                  <span>香宗我部親泰</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/a02.png" alt=""></div>
                <div>
                  <span>稻姬</span>
                  <span class="badge badge-success">EASY</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c11.png" alt=""></div>
                <div>
                  <span>立花宗茂</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/b01.png" alt=""></div>
                <div>
                  <span>雜賀孫市</span>
                  <span class="badge badge-danger">HARD</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/a22.png" alt=""></div>
                <div>
                  <span>仙石秀久</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/b23.png" alt=""></div>
                <div>
                  <span>伊勢姬</span>
                  <span class="badge badge-danger">HARD</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c19.png" alt=""></div>
                <div>
                  <span>松姬</span>
                  <span class="badge badge-success">EASY</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c10.png" alt=""></div>
                <div>
                  <span>香宗我部親泰</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/a02.png" alt=""></div>
                <div>
                  <span>稻姬</span>
                  <span class="badge badge-success">EASY</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c11.png" alt=""></div>
                <div>
                  <span>立花宗茂</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/b01.png" alt=""></div>
                <div>
                  <span>雜賀孫市</span>
                  <span class="badge badge-danger">HARD</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/a22.png" alt=""></div>
                <div>
                  <span>仙石秀久</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/b23.png" alt=""></div>
                <div>
                  <span>伊勢姬</span>
                  <span class="badge badge-danger">HARD</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c19.png" alt=""></div>
                <div>
                  <span>松姬</span>
                  <span class="badge badge-success">EASY</span>
                </div>
              </li>
              <li>
                <div><img src="/img/hero/c10.png" alt=""></div>
                <div>
                  <span>香宗我部親泰</span>
                  <span class="badge badge-warning">MEDIUM</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="comments" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-comments" aria-hidden="true"></i>留言板</h4>
            </a>
          </div>
          <div class="panel-body">
            <p>留言板區塊</p>
            <p>使用 fb or disqus</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
