<section id="detail">
  <div class="container">

    <h4 class="title text-left">角色攻略 - Charactor1</h4>
    <hr>

    <div class="detail-group container">
      <div class="row detail-title">
        <h3>標準玩法</h3>
      </div>
      <div class="row">
        <div class="col-4 detail-head">
          <div class="detail-name">
            <img src="/img/hero/a01.png" alt="">
            <span>Charactor1</span>
          </div>
          <p>TABLE OF CONTENTS</p>
          <ol class="detail-guide">
            <li><a href="#">技能介紹</a></li>
            <li><a href="#">起手出裝</a></li>
            <li><a href="#">推薦出裝</a></li>
            <li><a href="#">技能配置</a></li>
            <li><a href="#">遊玩心得</a></li>
            <li><a href="#">角色相剋</a></li>
          </ol>
        </div>
        <div class="col-8">
          <div class="container">
            <div class="detail-info row text-center">
              <div class="col-2">
                <a href="#" class="thumbs-up">
                  <i class="fa fa-thumbs-up"></i>
                  <span>55</span>
                </a>
              </div>
              <div class="col-2">
                <a href="#" class="thumbs-down">
                  <i class="fa fa-thumbs-down"></i>
                  <span>0</span>
                </a>
              </div>
              <div class="col-2">
                <span>UPDATED</span>
                <span>3 hours ago</span>
              </div>
              <div class="col-3">
                <span>VIEWS</span>
                <span><i class="fa fa-user"></i>15.6K</span>
              </div>
              <div class="col-3">
                <span>COMMENTS</span>
                <span><i class="fa fa-comments"></i>10</span>
              </div>
            </div>
            <div class="detail-author row"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
