#detail {
  background-image: url('/img/background.jpg');
  background-position: center top;
  background-size: 100%;
  background-attachment: fixed;
}

#detail>.container {
  padding: 30px 20px;
  color: #fff;
  background: #242424;
}

#detail .detail-group {
  padding-top: 10px;
  border-radius: 6px;
  background-image: url('/img/article/box/demo.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.detail-group>.row {
  padding: 10px 20px;
}

.detail-group .detail-title {
  padding-left: 0;
  width: 98%;
  margin: 0 auto;
  border-bottom: 1px solid #222;
}

.detail-group .detail-title h3 {
  color: #FFEE99;
  letter-spacing: 1px;
  margin: 0;
}

.detail-group .detail-head {
  padding: 15px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .8);
}

.detail-head .detail-name>img {
  width: 70px;
  height: 70px;
}

.detail-head .detail-name>span {
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
}

.detail-head>p {
  margin: 10px;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

.detail-head .detail-guide {
  margin-left: 80px;
  list-style-type: decimal;
}

.detail-head .detail-guide li {
  margin: 6px 0;
  color: #eabc00;
}

.detail-head .detail-guide li a {
  color: inherit;
  text-decoration: unset;
  transition: all .2s ease-in-out;
}

.detail-head .detail-guide li:hover a:hover {
  margin-left: 10px;
}

.detail-head .detail-guide li a:hover {
  color: #fff;
}

.detail-group .detail-info {
  padding: 15px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .8);
}

.detail-info a {
  font-size: 24px;
  text-decoration: unset;
  line-height: 45px;
}

.detail-info .thumbs-up {
  color: #4CAF00;
}

.detail-info .thumbs-down {
  color: #C50012;
}

.detail-info .detail-info-item {
  display: block;
  color: #ffcd03;
  font-size: 14px;
}

.detail-info .detail-info-item>i {
  margin-right: 5px;
}

.detail-group .detail-analysis {
  margin-top: 10px;
  padding: 15px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .8);
}

.detail-group .detail-analysis .analysis-char {
  padding: 10px;
  display: block;
}

.detail-group .detail-author a {
  display: block;
  margin: 15px 0;
  color: #ffcd03;
  font-size: 24px;
  text-decoration: unset;
}

.detail-group .detail-author a:hover {
  color: #fff;
}

.detail-group .detail-author img {
  margin-right: 10px;
  height: 50px;
}

.detail-group .detail-share a {
  display: block;
  margin: 5px 0;
}

.detail-group .detail-share a>i {
  margin-right: 5px;
}


/******** 導覽面板  ***********/

.panel-group {
  display: block;
  padding: 20px 35px;
  margin-top: 20px;
  background-color: #333;
  border-radius: 6px;
}

.panel {
  background-color: #1A1A1A;
  border-radius: 6px;
  padding-bottom: 20px;
}

.panel .panel-body {
  overflow-y: hidden;
}

.panel .panel-toggle {
  height: 0px;
}

.panel .panel-head {
  padding: 18px 10px;
  margin-bottom: 20px;
  height: 60px;
  border-bottom: 1px solid #333;
}

.panel .panel-control i {
  margin-right: 10px;
}

.panel .panel-body .group-version {
  color: #ffcd03;
}


/* skill */

#skill ul {
  margin: 20px 0 10px;
}

#skill ul li {
  display: inline-block;
  margin-right: 5px;
  width: 80px;
  height: 80px;
}

#skill ul li img {
  width: inherit;
  height: inherit;
  border: 1px solid #222;
  border-radius: 8px;
  box-shadow: 0 0 2px rgb(0, 0, 0);
}


/* equip-start */

#equip-start ul {
  margin: 20px 0 10px;
}

#equip-start ul li {
  display: inline-block;
  margin-right: 5px;
  width: 80px;
  height: 80px;
}

#equip-start ul li img {
  width: inherit;
  height: inherit;
  border: 1px solid #222;
  border-radius: 8px;
  box-shadow: 0 0 2px rgb(0, 0, 0);
}
