<section id="detail">
  <div class="container">

    <div class="detail-group container">
      <div class="row detail-title">
        <h3>標準玩法</h3>
      </div>
      <div class="row">
        <div class="col-4 detail-head">
          <div class="detail-name">
            <img src="/img/hero/a01.png" alt="">
            <span>德川家康</span>
          </div>
          <p>TABLE OF CONTENTS</p>
          <ol class="detail-guide">
            <li><a href="#skillintro">技能介紹</a></li>
            <li><a href="#">起手裝備</a></li>
            <li><a href="#">推薦出裝</a></li>
            <li><a href="#abilities">技能配置</a></li>
            <li><a href="#">遊玩心得</a></li>
            <li><a href="#">角色相剋</a></li>
          </ol>
        </div>
        <div class="col-8">
          <div class="container">
            <div class="detail-info row text-center">
              <div class="col-2">
                <a href="#" class="thumbs-up">
                  <i class="fa fa-thumbs-up"></i>
                  <span>55</span>
                </a>
              </div>
              <div class="col-2">
                <a href="#" class="thumbs-down">
                  <i class="fa fa-thumbs-down"></i>
                  <span>0</span>
                </a>
              </div>
              <div class="col-2">
                <span>最後更新</span>
                <span class="detail-info-item">3 hours ago</span>
              </div>
              <div class="col-3">
                <span>瀏覽次數</span>
                <span class="detail-info-item"><i class="fa fa-user"></i>15.6K</span>
              </div>
              <div class="col-3">
                <span>留言筆數</span>
                <span class="detail-info-item"><i class="fa fa-comments"></i>10</span>
              </div>
            </div>
            <div class="detail-analysis row">
              <div class="col-6">
                <h5>英雄分析（ 1-10 ）</h5>
                <div class="analysis-char">
                  <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" [options]="doughnutChartOption"></canvas>
                </div>
              </div>
              <div class="col-6">
                <div class="detail-author">
                  <h5>文章作者</h5>
                  <a href="#"><img src="/img/profile/user/me.png" alt="">Robby</a>
                </div>
                <div class="detail-share">
                  <h5>留言分享</h5>
                  <ul class="navbar">
                    <li><a class="btn btn-success"><i class="fa fa-star" aria-hidden="true"></i>文章評分</a></li>
                    <li><a class="btn btn-primary"><i class="fa fa-comments" aria-hidden="true"></i>留言回覆</a></li>
                    <li><a class="btn btn-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>問題回報</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div id="skill" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>技能介紹</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-6">
                <h5 class="group-version">版本：16</h5>
                <ul class="nav-float">
                  <li class="skill-keypress" data-key="D"><img src="/img/spellicons/custom/A01/a01d.png" alt=""></li>
                  <li class="skill-keypress" data-key="W"><img src="/img/spellicons/custom/A01/a01w.png" alt=""></li>
                  <li class="skill-keypress" data-key="E"><img src="/img/spellicons/meepo_earthbind.png" alt=""></li>
                  <li class="skill-keypress" data-key="R"><img src="/img/spellicons/zuus_lightning_bolt.png" alt=""></li>
                  <li class="skill-keypress" data-key="T"><img src="/img/spellicons/custom/icon_128x128_119.png" alt=""></li>
                </ul>
              </div>
              <div class="col-6">
                <h5 class="group-version">版本：11</h5>
                <ul class="nav-float">
                  <li class="skill-keypress" data-key="W"><img src="/img/spellicons/custom/A01/a01w.png" alt=""></li>
                  <li class="skill-keypress" data-key="E"><img src="/img/spellicons/meepo_earthbind.png" alt=""></li>
                  <li class="skill-keypress" data-key="R"><img src="/img/spellicons/zuus_lightning_bolt.png" alt=""></li>
                  <li class="skill-keypress" data-key="T"><img src="/img/spellicons/custom/icon_128x128_119.png" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="equip-start" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-home" aria-hidden="true"></i>起手裝備</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-6">
                <h5 class="group-version">版本：16</h5>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/spear.png" alt=""></li>
                  <li><img src="/img/items/custom/speed_clothes.png" alt=""></li>
                  <li><img src="/img/items/custom/rations.png" alt=""></li>
                </ul>
              </div>
              <div class="col-6">
                <h5 class="group-version">版本：11</h5>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/flame_armor.png" alt=""></li>
                  <li><img src="/img/items/custom/regeneration_ingot.png" alt=""></li>
                  <li><img src="/img/items/custom/rations.png" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="equip-final" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-shield" aria-hidden="true"></i>推薦出裝</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-6">
                <h5 class="group-version">版本：16</h5>
                <div class="during badge badge-primary">中期</div>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/dark_boots.png" alt=""></li>
                  <li><img src="/img/items/custom/raikiri.png" alt=""></li>
                  <li><img src="/img/items/custom/samurai_cloth.png" alt=""></li>
                  <li><img src="/img/items/custom/kousetsusamonnji.png" alt=""></li>
                </ul>
                <div class="during badge badge-primary">後期</div>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/the_sword_of_kaminaobi.png" alt=""></li>
                  <li><img src="/img/items/custom/true_katana.png" alt=""></li>
                  <li><img src="/img/items/custom/the_scream_of_spiders.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_disarmament.png" alt=""></li>
                </ul>
                <div class="during badge badge-primary">選用</div>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/ninja_cloth.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_invincible.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_weakness.png" alt=""></li>
                </ul>
              </div>
              <div class="col-6">
                <h5 class="group-version">版本：11</h5>
                <div class="during badge badge-primary">中期</div>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/magic_defence_boots.png" alt=""></li>
                  <li><img src="/img/items/custom/foxfire_armor.png" alt=""></li>
                  <li><img src="/img/items/custom/nannbann_armor.png" alt=""></li>
                </ul>
                <div class="during badge badge-primary">後期</div>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/the_great_spear_of_dragonfly.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_anger.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_disarmament.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_drain.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_disease.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_hurricane.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_invincible.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_new_moon.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_precision.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_soul.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_tiger.png" alt=""></li>
                  <li><img src="/img/items/custom/the_great_sword_of_toxic.png" alt=""></li>
                  <li><img src="/img/items/custom/the_sword_of_kaminaobi.png" alt=""></li>
                  <li><img src="/img/items/custom/true_katana.png" alt=""></li>
                </ul>
                <div class="during badge badge-primary">選用</div>
                <ul class="nav-float">
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                  <li><img src="/img/items/custom/pleated_skirt.png" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="abilities" class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-gavel" aria-hidden="true"></i>技能配置</h4>
            </a>
          </div>
          <div class="panel-body">
            <p>技能配置區塊</p>
            <p>1-20等級 推薦的配點</p>
            <p>技能圖片*8 hover show info</p>
            <p>分不同版本</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-flag" aria-hidden="true"></i>遊玩心得</h4>
            </a>
          </div>
          <div class="panel-body">
            <p>遊玩心得區塊</p>
            <p>就個人的心得分享</p>
            <p>這應該要找編輯器 plugin</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-flash" aria-hidden="true"></i>角色相剋</h4>
            </a>
          </div>
          <div class="panel-body">
            <p>角色相剋區塊</p>
            <p>列出可能相剋的角色圖片</p>
            <p>這部分可能後期再動工</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-comments" aria-hidden="true"></i>留言板</h4>
            </a>
          </div>
          <div class="panel-body">
            <p>留言板區塊</p>
            <p>使用 fb or disqus</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
