<section id="guides">
  <div class="container">

    <h4 class="title text-left">英雄攻略</h4>
    <a href="assets/api/charactor/charactorlist.json" target="_blank">API</a>
    <hr>
    <div class="search-box">
      <form>
        <div class="form-group row filter-name">
          <label class="col-form-label">英雄名字：</label>
          <div class="col-sm-5">
            <input type="text" name="search" class="form-control" placeholder="請輸入關鍵字">
          </div>
        </div>
        <div class="form-group row filter-type">
          <label class="col-form-label">選擇軍別：</label>
          <div class="col-sm-5">
            <label class="custom-control custom-radio">
              <input id="radioAll" name="radio-filter" value="" [(ngModel)]="filterkey" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">全部</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radioA" name="radio-filter"  value="a" [(ngModel)]="filterkey" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">織田軍</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radioB" name="radio-filter"  value="b" [(ngModel)]="filterkey" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">聯合軍</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radioC" name="radio-filter" value="c" [(ngModel)]="filterkey" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">中立軍</span>
            </label>
          </div>
        </div>
      </form>
    </div>

    <ul class="guides-group">
      <li class="guides-box" *ngFor="let charactor of charactorArr | charactorSearch:filterkey">
        <a href="#" [routerLink]="'/guides/article/charactor/'+ charactor.name" routerLinkActive="active" [style.backgroundImage]="'url(/img/hero/' + charactor.img  +')'">
          <span class="guides-name">{{ charactor.name }}</span>
        </a>
      </li>
    </ul>

    <!-- 製作假資料 -->
    <div class="row" *ngIf="false">
      {{ fake | json }}
    </div>

  </div>
</section>
