<section id="guides">
  <div class="container">

    <h4 class="title text-left">Champion Guides</h4>
    <hr>
    <div class="search-box">
      <form>
        <div class="form-group row">
          <label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">CHAMPION NAME</label>
          <div class="col-sm-4">
            <input type="text" class="form-control form-control-success" id="inputHorizontalSuccess" placeholder="Enter a champoin name...">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputHorizontalWarning" class="col-sm-2 col-form-label">AUTHOR NAME</label>
          <div class="col-sm-4">
            <input type="text" class="form-control form-control-warning" id="inputHorizontalWarning" placeholder="Enter a Author name...">
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
    </div>
    <div class="row">
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
    </div>
    <div class="row">
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
    </div>
    <div class="row">
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
    </div>
    <div class="row">
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
    </div>
    <div class="row">
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
      <div class="col-2" data-type="img"></div>
    </div>
  </div>
</section>
