<!-- <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample"
      aria-expanded="false" aria-label="Toggle navigation">
      Menu <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/guides">英雄攻略</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#logUpdate">Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Test</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav id="mainNav" class="navbar fixed-top navbar-expand navbar-light">
  <div class="container">
    <a class="navbar-brand" href="./"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/guides">英雄攻略</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#logUpdate">Log</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
