<section id="detail">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb bread-nav">
          <li class="breadcrumb-item"><a [routerLink]="'/guides/'">英雄攻略</a></li>
          <li class="breadcrumb-item active">文章發表</li>
        </ol>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>主題資訊</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5"> </div>
              <div class="col-7"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>英雄評價</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5"> </div>
              <div class="col-7"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>技能分析</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5"> </div>
              <div class="col-7"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>起手裝備</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5"> </div>
              <div class="col-7"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>推薦出裝</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5"> </div>
              <div class="col-7"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>技能配置</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5"> </div>
              <div class="col-7"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>影片分享</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5"> </div>
              <div class="col-7"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>英雄相剋</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-5"> </div>
              <div class="col-7"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
