#post {
    background-image: url('https://robby570.tw/NobuMD/img/background.jpg');
    background-position: center top;
    background-size: 100%;
    background-attachment: fixed;
}

#post>.container {
    padding: 30px 30px;
    color: #fff;
    background: #242424;
    border-radius: 6px;
}


/* 技能分析 */

#skill ul {
    margin: 20px 0 10px;
}

#skill ul li {
    display: inline-block;
    margin-right: 5px;
    width: 60px;
    height: 60px;
}

#skill ul li img {
    width: inherit;
    height: inherit;
    border: 1px solid #222;
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(0, 0, 0);
}

#skill .skill-discript {
    background: #111;
    padding: 10px;
    letter-spacing: 0.5px;
    text-align: justify;
}


/* 影片分享 */

#post .link-check {
    padding: 0;
}

#post .link-check .fa {
    margin-right: 15px;
}

#post .link-check .fa.fa-eye:hover {
    transition: all .2s ease-in-out;
    color: #169CB1 !important;
}

#post .input-group input {
    border: 1px solid #E9ECEF;
}


/* 英雄評價 */

#post .hero-score {
    margin-bottom: 20px;
}

#post .hero-score>div {
    margin: 0 auto;
}
