<section id="detail">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb bread-nav">
          <li class="breadcrumb-item"><a [routerLink]="'/guides/'">英雄攻略</a></li>
          <li class="breadcrumb-item active">文章發表</li>
        </ol>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-asterisk" aria-hidden="true"></i>主題資訊</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="form-group row">
              <label class="col-sm-1 col-form-label">標題：</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="請輸入文章標題">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-1 col-form-label">版本：</label>
              <div class="col-sm-2">
                <select class="custom-select">
                        <option selected>請選擇</option>
                        <option value="20">v20</option>
                        <option value="16">v16</option>
                        <option value="11">v11</option>
                  </select>
              </div>
              <label class="col-sm-1 col-form-label">聯軍：</label>
              <div class="col-sm-2">
                <select class="custom-select">
                      <option selected>請選擇</option>
                      <option value="20">織田軍</option>
                      <option value="16">聯合軍</option>
                      <option value="11">中立軍</option>
                </select>
              </div>
              <label class="col-sm-1 col-form-label">英雄：</label>
              <div class="col-sm-2">
                <select class="custom-select">
                      <option selected>請選擇</option>
                      <option value="20">德川家康</option>
                      <option value="16">稻姬</option>
                      <option value="11">石川數正</option>
                      <option value="11">竹中重治</option>
                      <option value="11">酒井忠次</option>
                      <option value="11">井伊直政</option>
                      <option value="11">本多忠勝</option>
                      <option value="11">榊原康政</option>
                      <option value="11">蜂須賀政勝</option>
                      <option value="11">平手政秀</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-user-circle" aria-hidden="true"></i>英雄評價</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.左側填寫分數</li>
                  <li>2.右側預覽圖表</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>技能分析</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.發表分析(提供插入技能圖片)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-home" aria-hidden="true"></i>起手裝備</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.發表分析(提供插入裝備圖片)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-shield" aria-hidden="true"></i>推薦出裝</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.發表分析(提供插入裝備圖片)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-gavel" aria-hidden="true"></i>技能配置</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.直接畫好1~20等表格，讓使用者自己點順序</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-youtube-play" aria-hidden="true"></i>影片分享</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.輸入URL</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-flash" aria-hidden="true"></i>英雄相剋</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.暫不開放</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
