<section id="detail">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb bread-nav">
          <li class="breadcrumb-item"><a [routerLink]="'/guides/'">英雄攻略</a></li>
          <li class="breadcrumb-item active">文章發表</li>
        </ol>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-asterisk" aria-hidden="true"></i>主題資訊</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.適用版本</li>
                  <li>2.文章標題</li>
                  <li>2.攻略角色(載入相關技能)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-user-circle" aria-hidden="true"></i>英雄評價</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.左側填寫分數</li>
                  <li>2.右側預覽圖表</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-paw" aria-hidden="true"></i>技能分析</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.發表分析(提供插入技能圖片)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-home" aria-hidden="true"></i>起手裝備</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.發表分析(提供插入裝備圖片)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-shield" aria-hidden="true"></i>推薦出裝</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.發表分析(提供插入裝備圖片)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-gavel" aria-hidden="true"></i>技能配置</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.直接畫好1~20等表格，讓使用者自己點順序</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-youtube-play" aria-hidden="true"></i>影片分享</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.輸入URL</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group container">
      <div class="row">
        <div class="col-12 panel">
          <div class="panel-head">
            <a class="panel-control">
              <h4><i class="fa fa-flash" aria-hidden="true"></i>英雄相剋</h4>
            </a>
          </div>
          <div class="panel-body container">
            <div class="row">
              <div class="col-12">
                <ul>
                  <li>1.暫不開放</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
