<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>FEATURED SITES</h3>
          <ul class="nav navbar-nav">
            <li>Hearthhead</li>
            <li>DestinyDB</li>
            <li>Opshead</li>
            <li>TF2 Outpost</li>
            <li>DayZDB</li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>COMMUNITY SITES</h3>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
              <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>DATABASE SITES</h3>
          <ul class="nav navbar-nav">
            <li>Wowhead</li>
            <li>DestinyDB</li>
            <li>DayZDB</li>
            <li>Final Fantasy XI</li>
            <li>Everquest</li>
            <li>Everquest II</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2017 WL、damody 保留所有權利
        </div>
      </div>
    </div>
  </div>
</footer>
