<!-- Modal -->
<div class="modal fade" id="logUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <span class="log-date">2017-08-10</span>
            </div>
            <div class="col-9">
              <ol class="nav-log">
                <li>upload demo project</li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <span class="log-date">2017-08-11</span>
            </div>
            <div class="col-9">
              <ol class="nav-log">
                <li>update @angular/cli to 1.3</li>
                <li>update Angular to 4.3.3</li>
                <li>add log</li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <span class="log-date">2017-08-16</span>
            </div>
            <div class="col-9">
              <ol class="nav-log">
                <li>update Bootstrap to v4.0.0-beta</li>
                <li>add tooltip - hover to show object info</li>
                <li>add panel - capability chart</li>
                <li>add panel - skill tree</li>
                <li>add panel - matchups</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
