#article {
  background-image: url('/img/background.jpg');
  background-position: center top;
  background-size: 100%;
  background-attachment: fixed;
}

#article>.container {
  padding: 30px 20px;
  color: #fff;
  background: #222;
}

#article .title {
  margin-bottom: 20px;
}

#article .search-box {
  margin-bottom: 30px;
}

#article .search-box .custom-select {
  border-radius: 6px;
  box-shadow: 0 0 2px #000000;
}

#article .article-list {
  background-color: #333;
}

.article-list>.row {
  width: 80%;
  height: 125px;
  border: 2px solid #111;
  background-image: url('/img/article-bg.jpg');
}

.article-list .article-detail {
  overflow: hidden;
  padding: 10px 0;
  background-color: rgba(30, 57, 82, .8);
}

.article-list .article-detail .row .col-6,
.article-list .article-detail .row .col-12 {
  padding: 0;
}

.article-list .guides-photo {
  overflow: hidden;
  position: relative;
  float: left;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border-radius: 100%;
  border: 1px solid #111;
  box-shadow: 0 0 2px #000;
  opacity: .8;
}

.article-list .guides-photo:hover {
  opacity: 1;
}

.article-list .guides-name {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  color: gold;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
  font-size: 14px;
  line-height: 32px;
}


/* article-info */

.article-info {
  margin: 0;
}

.article-info .article-author {
  color: #eabc00;
}

.article-info span,
.article-info a {
  display: block;
  font-size: 14px;
  color: #888;
}

.article-info .article-modified::before {
  content: '更新：';
  color: #888;
}

.article-info .article-create::before {
  content: '建立：';
  color: #888;
}

.article-caption {
  margin-top: 10px;
}

.article-caption span {
  float: left;
  padding: 4px 8px;
  margin: 0 2px;
  font-size: 14px;
  font-weight: normal;
}

.article-score {
  margin: 20px 0;
  text-align: center;
}

.article-score .score {
  display: inline-block;
  text-align: center;
}

.article-score .score span {
  display: block;
}

.article-score .score .score-up {
  color: #4FB700;
}

.article-score .score .score-dn {
  color: #CA0013;
}

.article-record {
  margin: 5px 30px;
  text-align: center;
}

.record {
  margin: 8px auto;
}

.record span {
  display: block;
}

.record .record-count {
  font-size: 16px;
  color: #ddd;
  font-weight: bold;
}

.record .record-name {
  font-size: 10px;
  text-transform: uppercase;
  color: #AAA;
  text-shadow: 0 0 1px #000;
  line-height: 10px;
}
