<section id="article">
  <div class="container">

    <h4 class="title text-left">角色攻略 - Charactor1</h4>
    <hr>
    <div class="search-box">
      <select class="custom-select"> 
        <option value="0" selected>評分</option>
        <option value="1">瀏覽次數</option>
        <option value="2">更新日期</option>
        <option value="3">發表日期</option> 
      </select>
      <select class="custom-select"> 
        <option value="0" selected>All</option> 
        <option value="1">Top</option>
        <option value="2">Mid</option>
        <option value="3">Bottom</option>
        <option value="4">CP</option>
      </select>
    </div>

    <div class="article-list container">
      <div class="row">
        <div class="article-position">
          T<br>O<br>P
        </div>
        <div class="article-detail">
          <img src="img/hero/a01.png" alt="">
          <div class="article-info">
            <h5>標準玩法</h5>
            <span class="article-author">Robby</span>
            <span class="article-item">最後發表：</span>
            <span class="article-item">建立日期：</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
