#article {
  background-image: url('/img/background.jpg');
  background-position: center top;
  background-size: 100%;
  background-attachment: fixed;
}

#article>.container {
  padding: 30px 20px;
  color: #fff;
  background: #222;
}

#article .title {
  margin-bottom: 20px;
}

#article .search-box {
  margin-bottom: 30px;
}

#article .search-box .custom-select {
  border-radius: 6px;
  box-shadow: 0 0 2px #000000;
}

#article .article-list {
  background-color: #333;
}

.article-list>.row {
  width: 80%;
  height: 125px;
  border: 2px solid #111;
  background-image: url('/img/article-bg.jpg');
}

.article-list .article-position {
  float: left;
  padding: 20px 8px;
  max-width: 25px;
  border-right: 1px solid #111;
  background: linear-gradient(to right, #116178 0%, #227e98 100%);
}

.article-list .article-detail {
  overflow: hidden;
  float: left;
  padding: 10px 20px;
  width: calc(100% - 25px);
  background-color: rgba(30, 57, 82, .8);
}

.article-list .guides-photo {
  position: relative;
  float: left;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border-radius: 6px;
  border: 1px solid #111;
  box-shadow: 0 0 2px #000;
  opacity: .9;
}

.article-list .guides-name {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  color: gold;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
  font-size: 14px;
  line-height: 32px;
}

.article-list .article-info {
  float: left;
  margin-left: 20px;
}

.article-info .article-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.article-info span,
.article-info a {
  display: block;
  height: 25px;
  font-size: 14px;
  letter-spacing: 1px;
}

.article-info .article-author {
  margin: 4px 0;
  color: #eabc00;
}

.article-info span {
  color: #aaa;
}

.article-info .article-modified::before {
  content: '最後發表：';
  color: #ddd
}

.article-info .article-create::before {
  content: '建立日期：';
  color: #ddd
}

.article-caption {
  float: right;
  margin: 30px 0;
  width: calc(100% / 4);
}

.article-caption span {
  padding: 4px 8px;
  margin: 0 2px;
  color: #ccc;
  font-size: 14px;
  font-weight: normal;
}

.article-score {
  float: right;
  margin: 20px 0;
}

.article-score .score {
  display: inline-block;
  text-align: center;
}

.article-score .score span {
  display: block;
}

.article-score .score .score-up {
  color: #4FB700;
}

.article-score .score .score-dn {
  color: #CA0013;
}

.article-record {
  float: right;
  margin: 5px 30px;
}

.record {
  margin: 8px auto;
  text-align: center;
}

.record span {
  display: block;
}

.record .record-count {
  font-size: 16px;
  color: #ddd;
  font-weight: bold;
}

.record .record-name {
  font-size: 10px;
  text-transform: uppercase;
  color: #AAA;
  text-shadow: 0 0 1px #000;
  line-height: 10px;
}
