<div id="cart" [ngClass]="{'active': _active}">

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-gray cart-close" (click)="closeCart()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-md-10">
        <div class="form-group search-group form-inline">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" class="form-control" placeholder="搜尋" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-expanded="true">基礎道具</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced">升級道具</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
            <ul class="nav-float">
              <li *ngFor="let item of itemArr" ngxClipboard [cbContent]="'[code](' + item.code + ')'" (cbOnSuccess)="clipBoard($event)">
                <img [src]="item.src" data-toggle="tooltip" data-placement="top" data-html="true" [title]="item.tip">
              </li>
            </ul>
          </div>

          <div class="tab-pane fade show" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
            <ul class="nav-float">
              <li *ngFor="let item of itemArr">
                <img [src]="item.src" data-toggle="tooltip" data-placement="top" data-html="true" [title]="item.tip">
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <swal #dialogSuccess title="複製成功" type="success" [options]="{ timer: '800' }"></swal>
  <swal #dialogError title="複製失敗" type="error"></swal>

</div>
