<div id="cart" [ngClass]="{'active': _active}">

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-gray cart-close" (click)="closeCart()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-md-10">
        <div class="form-group search-group form-inline">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" class="form-control" placeholder="搜尋" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">基礎道具</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">升級道具</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul class="nav-float">
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
            </ul>
          </div>

          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ul class="nav-float">
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
              <li>
                <img src="/img/items/custom/rations.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_c03')">
              </li>
              <li>
                <img src="/img/items/custom/pleated_skirt.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b01')">
              </li>
              <li>
                <img src="/img/items/custom/spear.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_a05')">
              </li>
              <li>
                <img src="/img/items/custom/speed_clothes.png" data-toggle="tooltip" data-placement="top" data-html="true" [title]="tipTemplate('st_b05')">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
