header.masthead {
  text-align: center;
  color: white;
  background-position: center top;
  background-size: 100%;
  background-attachment: fixed;
}

header.masthead .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header.masthead img {
  display: block;
  margin: 0 auto;
}

header.masthead a {
  margin-top: 50px;
  width: 30%;
  height: 40px;
  font-size: 1em;
}

header.masthead .intro-text .name {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
}

header.masthead .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead .container {
    padding-top: 130px;
    padding-bottom: 100px;
  }
  header.masthead .intro-text .name {
    font-size: 4.75em;
  }
  header.masthead .intro-text .skills {
    font-size: 1.75em;
  }
  header.masthead a {
    height: 60px;
    font-size: 1.75em;
  }
}
